/* Empty. Add your own CSS if you like */
 .mycolor{
    color : pink !important; 
    background-color:pink !important; 
 }

.center{
    margin: auto;
}

table{
    border-collapse: collapse;
    margin: 0px auto;
}
td, th, td{    
    padding:20px;
    border:5px solid white;
}
.red{
    background-color:red;
}
.yellow{
    background-color:yellow;
}
.pink{
    background-color:pink;
}
.blue{
    background-color:blue;
}

.pink{
     background-color:pink;
}